<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crystal by Example: <%= name %></title>
    <link rel=stylesheet href="site.css">
  </head>
  <script>
      onkeydown = (e) => {
          <% if previous_example? %>
          if (e.key == "ArrowLeft") {
            window.location.href = '<%= previous_example.id %>';
          }
          <% end %>
          <% if next_example? %>
          if (e.key == "ArrowRight") {
            window.location.href = '<%= next_example.id %>';
          }
          <% end %>
      }
  </script>
  <body>
    <div class="example" id="<%= id %>">
      <h2><a href="index.html">Crystal by Example</a>: <%= name %></h2>
      <% segments.each do |segment_group| %>
      <table>
        <% segment_group.each do |segment| %>
        <tr>
          <td class="docs">
            <%= segment.docs_rendered %>
          </td>
          <td class="code<% if segment.code.empty? %> empty<% end %><% if segment.code_leading %> leading<% end %>">
           <%= segment.code_rendered %>
          </td>
        </tr>
        <% end %>
      </table>
      <% end %>
      <a href="<%= PLAYGROUND_BASE_URL %>/#/r/<%= playground_id %>" target="blank">
        <img title="Run in the playground" src="crystal_icon.svg" class="run" />
      </a>
      <% if next_example? %>
      <p class="next">
        Next example: <a href="<%= next_example.id %>"><%= next_example.name %></a>.
      </p>
      <% end %>
      <p class="footer">
        by the Crystal Community | based on <a href="https://gobyexample.com/">Go By Example</a> | <a href="https://github.com/dscottboggs/crystal-by-example/blob/master/examples/<%= id %>">source</a> | <a href="https://github.com/dscottboggs/crystal-by-example/blob/master/LICENSE">license</a>
      </p>
    </div>
    <script>
      var codeLines = [];
      <%segments.each do |list| -%>
        <%-list.each do |segment| -%>
          codeLines.push('<%=segment.code_for_js%>');
        <%- end -%>
      <%- end %>
    </script>
    <script src="site.js" async></script>
  </body>
</html>