<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Crystal by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Crystal by Example</a></h2>
      <p>
        <a href="http://crystal-lang.org">Crystal</a> is an
        open source programming language programming language
        with the following goals:
        <ul>
          <li>Have a syntax similar to Ruby (but compatibility with it is not a goal)</li>
          <li>Statically type-checked but without having to specify the type of variables or method arguments.</li>
          <li>Be able to call C code by writing bindings to it in Crystal.</li>
          <li>Have compile-time evaluation and generation of code, to avoid boilerplate code.</li>
          <li>Compile to efficient native code.</li>
        </ul>
      </p>

      <p>
        <em>Crystal by Example</em> is a hands-on introduction
        to Crystal using annotated example programs. Check out
        the <a href="hello-world">first example</a> or
        browse the full list below.
      </p>
      <ul>
        <%- examples.each do |example| -%>
          <li><a href="<%= example.id %>"><%= example.name %></a></li>
        <%- end -%>
      </ul>
      <p class="footer">
        by <a href="https://github.com/crystal-community">The Crystal Community</a> |
        based on <a href="https://github.com/mmcgrana/gobyexample">Go by Example</a> |
        <a href="https://github.com/dscottboggs/crystal-by-example">source</a>
      </p>
    </div>
  </body>
</html>
